<% var pageTitle="Students List" ; %>
    <% include partials/header %>
        <!-- Main Content -->
        <div class="container">
            <h1 class="page-title">Students List</h1>


        </div>

        <% include partials/footer %>